.header {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid lightgrey;
  padding: 1rem;
  font-size: 0.9rem;
  background-color: white;
  a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      color: blueviolet;
    }
  }
  

}